kaggle_titanic_LogR.ipynb
.ipynb_checkpoints/
submission.csv
primeiro_modelo.csv
Modelo RKFld.csv
Modelo Final MF.csv
MF1_kaggle_titanic.ipynb
MF2_kaggle_titanic.ipynb
MF3_kaggle_titanic.ipynb
MF4_kaggle_titanic.ipynb
